<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>완료된 답변 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/css/answered_style.css"/>
</head>
<body>
<!-- 헤더 -->
<header th:replace="~{fragments/adminHeader::header}">
</header>

<!-- 문의사항 -->
<main class="content">
    <div class="flex justify-center gap-4 my-6">
        <a th:href="@{/admin/question/answered}" class="btn active">완료</a>
        <a th:href="@{/admin/question/unanswered}" class="btn">미완료</a>
    </div>
    <div class="question-section" th:each="answeredResponseDto:${answeredResponseDto}" th:object="${answeredResponseDto}">
        <div class="question-title">
            <span>문의사항</span>
            <span class="question-count">답변 완료</span>
        </div>

        <div class="question-item">
            <div class="question-info">
                <div class="question-title" th:text="*{title}">배송관련 문의드립니다.</div>
                <div class="question-date" th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd HH:mm')}">2025.04.24</div>
            </div>
            <div class="question-content" th:text="*{content}">
                배송이 예정보다 늦어지고 있는데 언제쯤 받을 수 있을까요?
            </div>
            <hr>
            <div class="question-info2">
                <div class="question-answer-title">답변</div>
                <div class="question-date" th:text="*{#temporals.format(answeredAt, 'yyyy-MM-dd HH:mm')}">2025.04.24</div>
            </div>
            <div th:id="'view' + ${answeredResponseDto.questionId}">
                <div class="question-answer" th:text="*{answer}">
                    <div>안녕하세요. 현재 해당 지역 물류센터에서 지연이 발생하고 있습니다. 내일 오전 중으로 배송될 예정입니다. 불편을 드려 죄송합니다.</div>
                </div>
                <div class="question-form question-info3">
                    <button type="button" th:onclick="|editForm('${answeredResponseDto.questionId}')|" style="background-color: #881616">
                        수정
                    </button>
                </div>
            </div>
            <div class="question-form" th:id="'editForm' + ${answeredResponseDto.questionId}" style="display:none;">
                <form
                        th:action="@{'/admin/question/'+${answeredResponseDto.questionId}}"
                        method="post"
                        th:object="${answerRequestDto}">
                    <input type="hidden" name="_method" value="put">
                    <textarea name="answer" placeholder="답변하실 내용을 입력해주세요." th:text="${answeredResponseDto.answer}"></textarea>
                    <div>
                        <button type="button" th:onclick="|closeForm('${answeredResponseDto.questionId}')|">취소</button>
                        <button type="submit">완료</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
    function editForm(questionId) {
        document.getElementById('view' + questionId).style.display = 'none';
        document.getElementById('editForm' + questionId).style.display = 'block';
        console.log(questionId)
    }
    function closeForm(questionId) {
        document.getElementById('editForm' + questionId).style.display = 'none';
        document.getElementById('view' + questionId).style.display = 'block';
    }
</script>
</body>
</html>