<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>미완료 답변 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/css/unanswered_style.css"/>
    <link rel="stylesheet" href="../../static/css/product_style.css">
</head>
<body>
<!-- 헤더 -->
<header th:replace="~{fragments/adminHeader::header}">
</header>

<!-- 문의사항 -->
<main class="content">
    <div class="flex justify-center gap-4 my-6">
        <a th:href="@{/admin/question/answered}" class="btn">완료</a>
        <a th:href="@{/admin/question/unanswered}" class="btn active">미완료</a>
    </div>

    <div class="question-section" th:each="unansweredResponseDto:${unansweredResponseDto}" th:object="${unansweredResponseDto}">
        <div class="question-title">
            <span>문의사항</span>
            <span class="question-count">미완료</span>
        </div>

        <div class="question-item">
            <div class="question-info">
                <div class="question-title" th:text="*{title}">배송관련 문의드립니다.</div>
                <div class="question-date" th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd HH:mm')}">2025.04.24</div>
            </div>
            <div class="question-content" th:text="*{content}">
                배송이 예정보다 늦어지고 있는데 언제쯤 받을 수 있을까요?
            </div>
            <hr>
            <div class="question-answer-title">답변</div>
            <form class="question-form"
                  th:action="@{'/admin/question/'+${unansweredResponseDto.questionId}}"
                  method="post"
                  th:object="${answerRequestDto}">
                <textarea placeholder="답변하실 내용을 입력해주세요." th:field="*{answer}"></textarea>
                <button>완료</button>
            </form>
        </div>
    </div>
</main>

</body>
</html>
