<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <header class="header" th:fragment="header">
        <div class="admin-header-container">
            <div class="logo">
                <img src="/assets/service_admin_logo.png" alt="로고"/>
            </div>

            <div class="admin-button-group">
                <div class="order-button">
                    <button onclick="location.href='/admin/products/list'">상품 목록</button>
                </div>
                <span class="divider"></span>
                <div class="order-button">
                    <button onclick="location.href='/admin/orders'">주문 목록</button>
                </div>
                <span class="divider"></span>
                <div class="order-button">
                    <button onclick="location.href='/admin/question/unanswered'">문의사항 목록</button>
                </div>
                <span class="divider"></span>
                <div class="order-button">
                    <button onclick="location.href='/logout'">
                        로그아웃</button>
                </div>
            </div>
        </div>
    </header>
</body>
</html>