<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="header" th:fragment="header">
        <div class="admin-header-container">
            <div class="logo"></div>
            <div class="order-button">
                <button id='logoutBtn' onclick="location.href='/logout'" style="font-size:15px; font-weight: bold; color: #555;">
                    로그아웃</button>
            </div>
            <div class="order-button">
                <button onclick="location.href='/admin/products/list'">
                    <img src="/assets/product_list_icon.png" alt="상품 목록" style="width:30px; height: 30px;"/></button>
            </div>
            <div class="order-button">
                <button onclick="location.href='/admin/orders'">
                    <img src="/assets/order_list_icon.png" alt="주문 목록" style="width:30px; height: 30px;"/></button>
            </div>
            <div class="order-button">
                <button onclick="location.href='/admin/question/unanswered'">
                    <img src="/assets/question_list_icon.png" alt="문의사항 목록" style="width:30px; height: 30px;"/></button>
            </div>
        </div>
    </header>
</body>
</html>