<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<header class="header" th:fragment="header">
    <div class="header-container">
        <div class="logo">
            <img src="/assets/service_logo.png" alt="로고"
                 onclick="location.href='/products'"/>
        </div>

        <div class="user-button-group">
            <div class="order-button">
                <button onclick="location.href='/orders'">주문 목록</button>
            </div>
            <span class="divider"></span>
            <div class="order-button">
                <button onclick="location.href='/logout'">로그아웃</button>
            </div>
        </div>
    </div>
</header>
</body>
</html>